### IntelliJ IDEA ###
out/
.idea/
*.iml
!**/COMPSCI200/main/**/out/
!**/COMPSCI200/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/COMPSCI200/main/**/bin/
!**/COMPSCI200/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store